<div id="info-perfilybackground">
    <div id="profile-background">
      <img [src]="miPortfolio.backImage" alt="">
    </div>

        <div class="btn-edit"><a href="#" class="rounded float-end"><i class="fa fa-pencil fa_custom"></i></a></div>
        
    <div id="info-img">
        <div class="profile-image">
          <img [src]="miPortfolio.image" alt="">
      </div>
        <div class="btn-edit"><a href="#" class="rounded float-end"><i class="fa fa-pencil fa_custom"></i></a></div>
    </div>
    <div id="info-data">
        <div>
            <h1>{{miPortfolio.name}}</h1>
            <div id="info-perfil">{{miPortfolio.position}}</div>
                <div id="info-contact">
                    <span>{{miPortfolio.ubication}}</span>
                    <span><a href="#">Información de contacto</a></span>
                </div>
                <div id="info-actions">
                    <button type="button" class="btn btn-primary">Tengo interés en</button>
                    <button type="button" class="btn btn-primary">Añadir Sección</button>
                    <button type="button" class="btn btn-primary">Más</button>
                </div>
        </div>
    </div>
</div> 