<ul id="info-Estudios" style="list-style: none;">
    <div class="academia"><h2>Formación académica</h2></div>
    <li>              
        <span class="curso-programación"><img [src]="misEstudios.image1"></span>
        <span class="escuela">{{misEstudios.curso}}</span>
    </li>
    <div class="btn-edit"><a href="#" class="rounded float-end"><i class="fa fa-pencil fa_custom"></i></a></div>
    <li>
        <span class="ucv"> <img [src]="misEstudios.imageUCV"></span>
        <span class="universidad">{{misEstudios.carrera}}</span>
    </li>
    <div class="btn-edit"><a href="#" class="rounded float-end"><i class="fa fa-pencil fa_custom"></i></a></div>
</ul>
